<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.course29">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="org.apache.http.legacy"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".moment.MomentVideoActivity"></activity>
        <activity android:name=".moment.MomentPictureActivity" />
        <activity android:name=".moment.MomentTextActivity" />
        <activity android:name=".contact.friend.StarFriendsActivity" />
        <activity android:name=".contact.SearchActivity" />
        <activity android:name=".contact.newFriend.StrangerInfoActivity" />
        <activity android:name=".contact.newFriend.StrangerAddActivity" />
        <activity android:name=".contact.friend.FriendActivity" />
        <activity android:name=".contact.newFriend.NewFriendActivity" />
        <activity android:name=".UserInfo.PrivacyActivity" />
        <activity android:name=".UserInfo.PasswordActivity" />
        <activity android:name=".UserInfo.UserActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".LogonActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.course29.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>